{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 80,
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["src/simulador/**/*.js"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
